<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <span class="js-title">
    <%= @blog_post.title %>
  </span>
</p>

<p>
  <strong>Body:</strong>
  <span class="js-body">
    <%= @blog_post.body %>
  </span>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
